<%= form_for @group do |f| %>

<% if @group.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %>
        al intentar guardar el grupo</h2>
        <ul>
            <% @group.errors.full_messages.each do  |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

    <div class="form-group">
        <%= f.label "Nombre" %><br>
        <%= f.text_field :name, :class => "form-control" %>
    </div>

    <p>
        <%= f.submit "Guardar", :class => "btn btn-success" %>
    </p>
<% end %>